<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">


    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">


    <title>

        {% block title %}
        Convertin
        {% endblock %}

    </title>

    {% include "partials/seo_meta.html" %}

    <!-- Favicons -->

    <link
        rel="icon"
        href="/static/images/favicon.ico"
        sizes="any">

    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/static/images/favicon-16.png">

    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/static/images/favicon-32.png">

    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/static/images/apple-touch-icon.png">


    <!-- Google Font -->

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com">


    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>


    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">





    <!-- ==========================
         CORE CSS
    =========================== -->


    <link
        rel="stylesheet"
        href="/static/css/core/variables.css">


    <link
        rel="stylesheet"
        href="/static/css/core/reset.css">


    <link
        rel="stylesheet"
        href="/static/css/core/base.css">





    <!-- ==========================
         COMPONENT CSS
    =========================== -->


    <link
        rel="stylesheet"
        href="/static/css/components/header.css">


    <link
        rel="stylesheet"
        href="/static/css/components/hero.css">


    <link
        rel="stylesheet"
        href="/static/css/components/button.css">


    <link
        rel="stylesheet"
        href="/static/css/components/card.css">


    <link
        rel="stylesheet"
        href="/static/css/components/upload-card.css">


    <link
        rel="stylesheet"
        href="/static/css/components/popular-tools.css">


    <link
        rel="stylesheet"
        href="/static/css/components/features.css">


    <link
        rel="stylesheet"
        href="/static/css/components/footer.css">





    <!-- ==========================
         PAGE CSS
    =========================== -->


    <link
        rel="stylesheet"
        href="/static/css/pages/home.css">


</head>



<body>


{% block content %}

{% endblock %}






<!-- ==========================
     JAVASCRIPT
=========================== -->


<script src="/static/js/config.js"></script>


<script src="/static/js/app.js"></script>



<script src="/static/js/api/plugin_api.js"></script>



<script src="/static/js/ui/button_renderer.js"></script>





<!-- Upload -->

<script src="/static/js/upload/upload_manager.js"></script>



<!-- Recommendation -->

<script src="/static/js/recommendation/recommendation_manager.js"></script>





<!-- Download -->

<script src="/static/js/download/download_manager.js"></script>





<!-- Main Converter Controller -->

<script src="/static/js/convert/converter.js"></script>



</body>


</html>