# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/

# Environment
.env

# Logs
app/logs/
*.log

# Upload temporary
app/uploads/*
app/outputs/*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/